:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: white;
  color: rgba(255, 255, 255, 0.9);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #1f4037 0%, #99f2c8 100%);
  color: #ffffff;
}

/* Typography settings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}
